<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
    Name='Ore Infinium'
    Manufacturer='Shaun Reich'
    Version='0.0.1'
    Id='*'
    UpgradeCode='70c1b378-5da5-48ef-b55f-fb55dabfc023'
    Language='1033'
    >

  <Package Id='*' Compressed='yes' InstallScope="perMachine"
    Comments="This is an experimental Windows installer for Ore Infinium"/>
  <Media Id='1' Cabinet="Ore.cab" EmbedCab="yes" CompressionLevel="none"/>
  <MajorUpgrade AllowDowngrades="yes"/>

  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="OreDir" Name="Ore Infinium">
        <Directory Id="BinDir" Name="bin">
          <!-- Put Qt directly in the bin dir -->
          <Directory Id="QtDir"/>
        </Directory>
      </Directory>
    </Directory>
    <!--Directory Id="ProgramMenuFolder">
      <Directory Id="KF5StartMenu" Name="KDE Frameworks"/>
    </Directory-->
  </Directory>

  <DirectoryRef Id="BinDir">
    <Component Id="MainExe" Guid="8CD92EE5-499A-4FFB-9C8A-26DBAF23CA7E">
      <File Source="!(bindpath.ore)bin\ore-infinium.exe" KeyPath="yes"/>
    </Component>
    <Component Id="QtConf" Guid="E75A2D01-9287-4AA2-B1DE-FE2A296A0E72">
      <File Source="!(bindpath.source)\qt.conf" KeyPath="yes"/>
    </Component>
  </DirectoryRef>

  <Feature Id="Complete" Level="1" AllowAdvertise="no">
    <ComponentRef Id="MainExe"/>

    <ComponentRef Id="QtConf"/>
    <ComponentRef Id="Qt5Core.dll"/>
    <ComponentRef Id="Qt5Gui.dll"/>
    <ComponentRef Id="Qt5Quick.dll"/>
    <ComponentRef Id="Qt5Qml.dll"/>
    <ComponentRef Id="Qt5Network.dll"/> <!-- required by Quick -->

    <ComponentRef Id="qwindows.dll"/>

    <ComponentRef Id="main.qml"/>

  </Feature>

  </Product>
</Wix>
