<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <!-- Main DLLs -->
  <Fragment>
    <Component Directory="QtDir" Guid="D694AB89-EFDD-49ED-96D8-99CF91B72074">
      <File Source="!(bindpath.qt5)bin\Qt5Core.dll" KeyPath="yes"/>
    </Component>
  </Fragment>
  <Fragment>
    <Component Directory="QtDir" Guid="BD47513C-50E3-42B9-B9C5-2D6D159D5D03">
      <File Source="!(bindpath.qt5)bin\Qt5Gui.dll" KeyPath="yes"/>
    </Component>
  </Fragment>
  <Fragment>
    <Component Directory="QtDir" Guid="65DEAFD4-7CCD-4431-8874-FB1C3D1E4E02">
      <File Source="!(bindpath.qt5)\bin\Qt5Widgets.dll" KeyPath="yes"/>
    </Component>
  </Fragment>
  <Fragment>
    <Component Directory="QtDir" Guid="DFFA700D-23F4-4925-924F-3E4A44E173A9">
      <File Source="!(bindpath.qt5)\bin\Qt5Network.dll" KeyPath="yes"/>
    </Component>
  </Fragment>

  <!-- QPA -->
  <Fragment>
    <DirectoryRef Id="QtDir">
      <Directory Id="QtPluginsDir" Name="plugins">
        <Directory Id="QtPlatformPluginsDir" Name="platforms"/>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <Component Directory="QtPlatformPluginsDir" Guid="3F18AB06-79DC-447A-A85A-7154636C9182">
      <File Source="!(bindpath.qt5)plugins\platforms\qwindows.dll" KeyPath="yes"/>
    </Component>
  </Fragment>
</Wix>
